* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

header,
footer {
  background-color: #8fd0ca;
  color: black;
}

main {
  background-color: #40b5bc;
}

body,
html {
  display: flex;
  height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
}

header,
footer {
  background-color: #8fd0ca;
  color: black;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}

main {
  text-align: center;
}

h2 {
  padding: 1em;
}

/* Estilos generales del formulario */
.form-contact {
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno */
}

/* Estilos para los elementos del formulario */
label {
  display: block; /* Mostrar en bloques para que cada elemento esté en una línea */
  margin-bottom: 10px; /* Espaciado entre etiquetas y campos */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Esquinas redondeadas */
}

input[type="radio"],
input[type="file"],
.input-submit {
  margin-right: 10px; /* Espaciado derecho entre elementos */
}

.div-submit {
  text-align: center; /* Centrar botón de enviar */
}

.item-submit {
  padding: 10px 20px; /* Espaciado interno */
  background-color: #08709c; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cursor al pasar */
  transition: background-color 0.3s; /* Transición suave */
}

.item-submit:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}
nav {
  display: flex;
  gap: 1em;
}

@media only screen and (max-width: 320px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
  }
}
