* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

header,
footer {
  background-color: #8fd0ca;
  color: black;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

main {
  background-color: #40b5bc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

h2 {
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

nav {
  display: flex;
  gap: 1em;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #08709c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 320px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
  }
}
